<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.emart.emartindia">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/emart"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EMartIndia"
        android:usesCleartextTraffic="true">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCXzQPENJDG4mDN3XGNyS3oE-KymFEAqD8" />

        <activity android:name=".ContactActivity"></activity>
        <activity android:name=".SubCategories" />
        <activity android:name=".Categories" />
        <activity android:name=".Profile" />
        <activity android:name=".BaseNavigation" />
        <activity android:name=".CheckoutSteps" />
        <activity android:name=".Cart" />
        <activity android:name=".OrderDetails" />
        <activity android:name=".MyOrders" />
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login" />
        <activity android:name=".ProductDetail" />
        <activity android:name=".Browse" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>